@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import 'foundation/vars';
@import 'foundation/colorscheme';
@import 'mixin/meta-info';

// global box-sizing fix (recommended site-wide)
*, *::before, *::after {
  box-sizing: border-box;
}

@mixin dark{
    .taglist {
        color: $color-muted-dark;
        a {
            color: $color-accent-dark;
            &:hover {
               color: lighten($color-accent-dark, 10%);
            }
        }
    }
    .date{
        .dateLabel{
            color: $color-muted-dark;
        }
        .dateValue{
            color: $color-accent-dark;
        }
    }
}

.colorscheme-dark{
    @include dark;
}

@media (prefers-color-scheme: dark) {
    @include dark;
}

#permalink{
    @include metaInfo;
}

.taglist {
  font-size: 11pt;
  @include metaInfo;
  margin-top: 0.5rem;
}

.archivalPermission {
    @include metaInfo;
}

#quoteThisPage{
    @include metaInfo;
}

.errata {
    @include metaInfo;
    background-color: bisque;
    padding: 15px;
    margin: 5px;
    @media(prefers-color-scheme: dark){
        background-color: gray;
    }
}

#content-license {
    @include metaInfo;
}

.date {
    .dateLabel{
        color: $color-muted-light;
    }
    .dateValue{
        color: $color-accent-light;
    }
    font-size: 11pt;
    margin-top: 0.5rem;
}
